@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-a-hover: #3F4E4f;
    --cor-botao-hover: #ac7f5d;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionando box-sizing para melhor controle de espaçamento */
}
.a:hover {
  background-color: var(--cor-hover);
  transform: scale(1.1);
  transition: all 0.5s;
}

header {
  display: flex;
    gap: 80px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 30px 0px 30px 130px;
    text-align: center;
    font-family: var(--fonte-secundaria);
}

header h1 {
  align-self: center;
    margin: 0;
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 10px 0;
    font-family: var(--fonte-secundaria);
}

nav a {
    color: var(--cor-terciaria);
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
  background-color: #303c3f;
  transform: scale(1.1);
  transition: all 0.5s;
}
.botao-logout {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria); 
  font-family: var(--fonte-primaria); 
  border: 0;
}
.botao-logout:hover {
  background-color: var(--cor-hover);
  transform: scale(1.07);
  transition: all 0.5s;
}

body {
    margin: 0;
    padding: 0px 50px 50px 50px;
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

h1, h2, h3 {
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    font-family: var(--fonte-primaria);
}

h1 {
    font-size: 2.5rem;
    text-align: center; /* Centralizando o título principal */
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: var(--fonte-secundaria);
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

code {
    background-color: var(--cor-a-hover);
    color: var(--cor-secundaria);
}

pre {
    background-color: var(--cor-primaria);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto; /* Para garantir que o código não quebre a página */
}

.container {
    text-align: center;
    padding: 50px 20px;
}

.container strong {
    color: var(--cor-terciaria);
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--cor-terciaria);
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
    font-family: var(--fonte-secundaria);
}
