@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4f;
    --cor-botao-hover: #ac7f5d;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
}
.logo {
    width: 80px;
    height: 50px;
    align-self: center;
  }

body {
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    gap: 80px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 30px 0px 30px 130px;
    text-align: center;
    font-family: var(--fonte-secundaria);
}

header h1 {
    align-self: center;
    margin: 0;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 10px 0;
    font-family: var(--fonte-secundaria);
}

nav a {
    color: var(--cor-terciaria);
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
    transition: all 0.5s;
}
.botao-logout {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria); 
    font-family: var(--fonte-primaria); 
    border: 0;
  }
  .botao-logout:hover {
    background-color: var(--cor-hover);
    transform: scale(1.07);
    transition: all 0.5s;
  }
  

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    width: 70%;
}

.linha {
    display: flex;
    justify-content: space-between;
}

.quiz-card {
    background-color: var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.quiz-card:hover {
    transform: scale(1.05);
}

.quiz-card h2 {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    margin-bottom: 10px;
}

.quiz-card p {
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: var(--cor-terciaria);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bol
}
.btn:hover {
  background-color: var(--cor-botao-hover);
}

footer {
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: var(--cor-terciaria);
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  font-family: var(--fonte-secundaria);
}